
@font-face {
  font-family: 'Open Sans';
  src: url("./public/fonts/opensans/OpenSans-Light.woff") format('woff'), url("./public/fonts/opensans/OpenSans-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("./public/fonts/opensans/OpenSans.woff") format('woff'), url("./public/fonts/opensans/OpenSans.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("./public/fonts/opensans/OpenSans-Semibold.woff") format('woff'), url("./public/fonts/opensans/OpenSans-Semibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a:link, a:visited, a:active {
  text-decoration: none !important;
}

.c-layout-header_panel {
  width: 100%;
}

.c-layout-header {
  height: 220px;
  background-color: #393939;
  background-image: url('./public/images/header_mobile.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0), rgba(0,0,0,.6)), url('./public/images/header_mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center center;
}

.header-logo{
  max-width: 960px;
  margin: 0 auto;
}

.header-title {
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 25px;
  margin: 0 auto;
  margin-top: auto;
  padding: 0 10px;
  max-width: 620px;
  margin-bottom: 15px;
}

.c-layout-text {
  position: relative;
  padding-bottom: 88px;
  padding-top: 30px;
}

.c-dog-logo {
  position: absolute;
  background-image: url(./public/images/dog.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 20px;
  width: 270px;
  height: 80px;
  left: calc(50% - calc(270px/2));
}

.c-layout-content{
  padding: 0 15px;
  max-width: 620px;
  margin: 0 auto;
}

.c-layout-content_main-description {
  font-size: 17px;
  color: #393939;
  text-align: center;
  line-height: 22px;
  padding-bottom: 27px;
  font-weight: 600;
}

.c-layout-content_description {
  font-size: 14px;
  color: #757575;
  line-height: 20px;
  margin-bottom: 20px;
}

.c-layout-platforms {
  background-color: #EDEDE9;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.20);
  padding: 30px 15px 47px 15px
}

.c-hr {
  border-bottom: 1px solid #D8D8D8;
}

.platforms_title {
  padding: 15px 15px;
}

.platforms-list_link{
  padding: 15px 15px;
  display: flex;
  align-items: center;
}

.c-hr h2 {
  font-size: 23px;
  color: rgba(57,57,57,0.99);
  line-height: 32px;
  font-weight: 400;
}

.c-layout_platforms {
  background: #FFFFFF;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  max-width: 520px;
}

.platforms-list {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

.c-layout-platform-name {
  margin-left: 10px;
}

.c-layout-platform-name p {
  margin: 0;
  margin-bottom: 5px;
}

.platforms-list_platform {
  font-size: 18px;
  color: #393939;
}

.platforms-list_country {
  font-size: 13px;
  color: #9C9C9C;
}

.c-country-logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.c-arrow-logo {
  display: inline-block;
  background-image: url(./public/images/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 16px;
  margin-left: auto;
}

.c-layout-footer {
  text-align: center;
  background: #393939;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.20);
  color: rgba(156,156,156,0.99);
  font-size: 12px;
}

.c-layout-footer_logo {
  margin-top: 40px;
}

.c-layout_footer {
  padding: 25px 15px 34px 15px;
  max-width: 620px;
  margin: 0 auto;
}

.c-layout-footer_spacing {
  margin-bottom: 16px;
}

.c-layout-footer_link {
  text-decoration: underline;
  color: #799189;

}

.c-main-logo, .c-main-logo_header {
  display: flex;
}

.c-main-logo_header {
  margin-top: 20px;
  padding: 0 10px;
}

.c-main-logo {
  justify-content: center;
}

.c-main_logo {
  background-image: url(./public/images/main_logo.svg);
  width: 150px;
  height: 37px;
}

@media only screen and (min-width : 640px) {
  .c-layout-text {
    padding-bottom: 105px;
  }

  .c-dog-logo {
    width: 350px;
    height: 100px;
    left: calc(50% - calc(350px/2));
  }
}

@media only screen and (min-width: 768px) {
   /* For desktop: */
  .c-layout-header {
    height: 420px;
    background-color: #393939;
    background-image: url('./public/images/header_web.jpg');
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0), rgba(0,0,0,.6)), url('./public/images/header_web.jpg');
  }

  .header-title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .c-layout-content_main-description{
    font-size: 17px;
    line-height: 22px;
  }

  .c-layout-content_description {
    font-size: 14px;
    line-height: 20px;
  }

  .c-layout-text {
    padding-bottom: 138px;
  }

  .c-dog-logo {
    width: 620px;
    height: 140px;
    left: calc(50% - calc(620px/2));
  }
}
